* {
    border: 1px solid gray;
}

.img {
    width: 80px;
    height: 80px;
    display: none;
    transition: all;
    transition-duration: 0.5s;
    animation: animate__slideInDown;
    animation-duration: 0.5s; 
    
}

.blank {
    border: 1px solid orange;
    width: 80px;
    height: 80px;
}